<div class="form-inline">
  <div class="form-group mb-2"
  ><input type="text" class="form-control mr-2" 
  placeholder="Buscar"
  [(ngModel)]="filtroLista">

  <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button (click)="alternarImagem()" class="btn btn-outline-primary">
          Mostrar Imagem
        </button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td >
        <img *ngIf="mostrarImagem" src="{{ item.imagem }}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem">
         </td>
      <td> {{ item.tema | uppercase }} </td>
      <td> {{ item.local | uppercase }} </td>
      <td> {{ item.created_at }} </td>
      <td> {{ item.quantidadePessoas }} </td>
      <td> {{ item.lote | uppercase }} </td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4> Nenhum elemento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
